@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&family=Playwrite+BE+VLG:wght@100..400&display=swap');

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #2a2828;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
}

#search-input {
    font-family: Playwrite AR, sans-serif;
    background-color: transparent;
    border: none;
    color: #f0f0f0;
    font-size: 7vh;
    outline: none;
    text-align: center;
    width: 100%;
    caret-color: transparent;
}

#cursor {
    position: absolute;
    animation: blink 1s infinite;
    color: #f0f0f0;
    font-size: 9vh;
    pointer-events: none;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

#shortcut-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.shortcut {
    position: relative;
    background-position: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.shortcut-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.shortcut-icon i {
    font-size: 24px;
    color: #f0f0f0;
}

.shortcut-name {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    word-wrap: break-word;
    max-width: 100%;
}

.shortcut-menu {
    position: absolute;
    right: -3px;
    color: #f0f0f0;
    font-size: 18px;
    cursor: pointer;
    display: none;
    /* Hide the menu initially */
}

/* Show the menu when hovering over the shortcut */
.shortcut:hover .shortcut-menu {
    display: block;
    /* Show the menu when hovering over the shortcut */
}

/* Menu options styling */
.menu-options {
    display: none;
    /* Hide the menu options initially */
    position: absolute;
    right: 0;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 80px;
}

/* Show menu options on clicking the menu icon */
.shortcut-menu.active+.menu-options {
    display: block;
    /* Show the menu options when the menu icon is active */
}

.menu-options div {
    padding: 5px 10px;
    cursor: pointer;
    color: #f0f0f0;
    text-align: center;
}

.menu-options div:hover {
    background-color: #444;
}

#add-shortcut {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #f0f0f0;
    font-size: 24px;
    border: none;
    cursor: pointer;
}